<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button (click)="launchNormal()">Launch Normal Page</button>
	<button ion-button (click)="launchSlow()">Launch Slow Page</button>
</ion-content>
